path {
  fill: #3a3335;
  stroke: #ffffff;
  stroke-width: 0.01px;
  &:not([data-disabled="true"]) {
    cursor: pointer;
    &:hover {
      transition: all 0.2s ease-in-out;
      fill: #564e50 !important;
    }
  }
}
svg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
