.map-wrapper {
    width: 100%;
    min-height: 100vh;
}
.lifes {
    color: #8f282a;
    font-weight: bold;
    font-size: 35px;
    line-height: 1;
}
.actions {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 20px;
    z-index: 10;
}
